*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
   background: url("img.gif");
   background-repeat: no-repeat;
   background-size: 1600px 1600px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
   background-color:aliceblue ;
   width: 80vw;
   max-width: 37.5em;
   padding: 3rem 2.5rem;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   border-radius: 0.62em;
   box-shadow: 0 1.25em 1.8em rgba(8,21,65,0.25);
}
.search-wrapper{
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.25em;
 }
.search-wrapper button{
  font-size: 1em;
  background-color:cornflowerblue;
  border-radius: 1.5em;
  border: none;
  cursor: pointer;
  padding: 0.8em 0;
}
.search-wrapper input{
   font-size: 1em;
   padding: 0 0.62em;
   border: none;
   border-bottom: 2px solid cornflowerblue;
   outline: none;
   color: black;
}
#result{
  margin-top: 1.25em;
}
.container .flag-img{
  display:block;
  width:45%;
  max-width:7.5em;
  margin: 1.8em auto 1.2em auto;
}
.container h2{
  font-weight: 600;
  color:black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.8em;
 }
 .data-wrapper{
    margin-bottom:1em ;
    letter-spacing: 0.4px;
 }
 .container h4{
    display: inline;
    font-weight: 500;
   color:black;
 }
 .container span{
    color:gray
 }
 .container h3{
    text-align: center;
 }


